.container1 {
  max-width: 1200px;
  margin: auto;
}
.product1-items {
  display: flex;
  justify-content: space-between;
  background-color: rgb(152, 157, 161);
  padding: 12px;
}
.product1-item {
  width: 19%;
  background-color: #fff;
  padding: 12px;
  text-align: center;
}
.product1-item img{
    width: 100%;
    
}
